@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-500;
  }
}

@tailwind components;
@tailwind utilities;

#__next {
  @apply min-h-screen flex flex-col items-center justify-between;
}

header {
  @apply w-full mt-6 px-4 flex items-center justify-between;
}

footer {
  @apply flex flex-col justify-center items-center py-6 w-full;
}

.speech-bubble {
  @apply flex flex-col justify-center items-center bg-white relative border-2 border-solid border-black rounded-xl mb-8 p-2;
  min-height: 200px;
}

.speech-bubble:before {
  @apply h-5 w-5 bg-white absolute;
  content: "";
  top: -webkit-calc(100% - 10px);
  top: calc(100% - 10px);
  transform: rotate(45deg);
  border-bottom: inherit;
  border-right: inherit;
  box-shadow: inherit;
}

.speech-bubble-button {
  @apply p-4 rounded-lg bg-orange text-black mt-4 mb-8 shadow-lg text-xl font-bold;
}

.default-button {
  @apply px-3 py-2 rounded-lg bg-orange text-black shadow-lg text-base font-bold;
}

.icon-button {
  @apply h-8 w-8 cursor-pointer hover:bg-gray-100 hover:bg-opacity-70 p-1 rounded-lg;
}

.new-grocery-list-button {
  @apply px-3 py-2 rounded-lg shadow-lg text-base font-bold text-white bg-black flex items-center mb-4;
  @apply hover:text-black hover:bg-white border border-solid border-black;
}

.new-recipe-button {
  @apply px-3 py-2 rounded-lg shadow-lg text-base font-bold text-white bg-black flex items-center mb-4;
  @apply hover:text-black hover:bg-white border border-solid border-black;
}
